<!DOCTYPE html>
<html lang="fa">
    <head>
        <title>ODDO - قالب HTML فرم ثبت نام و ورود اُددو</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
        <link
            type="text/css"
            rel="stylesheet"
            href="./assets/auth/css/bootstrap.min.css" />
        <link
            type="text/css"
            rel="stylesheet"
            href="./assets/auth/css/style.css" />
        <link rel="stylesheet" href="./assets/style/loader.css" />
        <link rel="stylesheet" href="./assets/style/var/forgot.css" />
    </head>
    <body id="top" dir="rtl">
        <div class="loeader active">
            <div class="wrapper">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <span>صبرکنید</span>
            </div>
        </div>

        <!-- Login 4 start -->
        <div class="login-4 position-relative">
            <div class="container-fluid">
                <div class="row login-box">
                    <div class="col-lg-6 form-section">
                        <div class="form-inner">
                            <a href="login.html" class="logo">
                                <img
                                    src="./assets/images/log-hix-f.png"
                                    alt="logo"
                                    style="width: 120px; height: 100px" />
                            </a>
                            <h3>بازیابی کلمه عبور</h3>
                            <form action="#" method="POST" id="commonForm">
                                <div
                                    class="form-group position-relative clearfix">
                                    <input
                                        name="email"
                                        type="email"
                                        class="form-control"
                                        id="input-email_send"
                                        placeholder="ایمیل را وارد کنید..."
                                        aria-label="Email Address" />
                                    <div
                                        class="login-popover login-popover-abs"
                                        data-bs-toggle="popover"
                                        data-bs-trigger="hover"
                                        title="شفاف سازی"
                                        data-bs-content="و در اینجا برخی از مطالب شگفت انگیز است. بسیار جذاب است. درست؟">
                                        <i class="fa fa-info-circle"></i>
                                    </div>
                                    <!-- ------------------------ -->
                                    <!-- < MODAL - RESET - PASS > -->
                                    <!-- ------------------------ -->
                                    <div id="modal">
                                        <h4 class="text-white">
                                            رمز خود تعیین کنید!
                                            <ul>
                                                <li class="h6 text-white mt-2">
                                                    رمز بیشتر از 7 رقم باشد.
                                                </li>
                                                <li></li>
                                            </ul>
                                        </h4>

                                        <div class="content">
                                            <div
                                                class="alert alert-success alert-dismissible fade show"
                                                role="alert">
                                                <strong>تبریک،</strong> ایمیل
                                                بازیابی رمز برای شما ارسال شد.
                                                <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                            </div>
                                            <form>
                                                <div
                                                    class="form_content bg-danger">
                                                    <label>کد تایید</label>
                                                    <input
                                                        id="input-verify"
                                                        type="text"
                                                        maxlength="10"
                                                        required
                                                        class="w-50 mx-auto" />
                                                    <label for="passOne"
                                                        >رمز</label
                                                    >
                                                    <input
                                                        id="passwordOne"
                                                        type="password"
                                                        maxlength="10"
                                                        required
                                                        class="w-50 mx-auto" />
                                                    <label for="passTwo"
                                                        >تکرا رمز</label
                                                    >
                                                    <input
                                                        type="password"
                                                        id="passwordTwo"
                                                        maxlength="10"
                                                        required
                                                        class="w-50 mx-auto" />
                                                    <button
                                                        class="btn"
                                                        id="btn-verify">
                                                        ارسال
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0 clearfix">
                                    <button
                                        id="btn_send_email"
                                        type="submit"
                                        class="btn btn-lg btn-primary btn-theme">
                                        ارسال لینک بازیابی
                                    </button>
                                </div>
                            </form>
                            <div class="clearfix mt-4"></div>
                            <p>
                                حساب کاربری ندارید؟
                                <a href="register.html"
                                    >از اینجا ثبت نام کنید</a
                                >
                            </p>
                        </div>
                    </div>
                    <div
                        class="col-lg-6 bg-img clip-home d-none d-md-block"></div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="./assets/auth/js/jquery-3.6.0.min.js"></script>
        <script src="./assets/auth/js/bootstrap.bundle.min.js"></script>
        <script src="./assets/js/hixConstants.js"></script>
        <script src="./assets/auth/js/jquery.validate.min.js"></script>
        <script src="./assets/js/pass/forget-pass.js"></script>
        <script src="./assets/js/loader.js"></script>
    </body>
    <!-- fixed page -->
</html>
