<!DOCTYPE html>
<html lang="fa">
    <head>
        <title>ODDO - قالب HTML فرم ثبت نام و ورود اُددو</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />
        <!-- External CSS libraries -->
        <link
            type="text/css"
            rel="stylesheet"
            href="./assets/auth/css/bootstrap.min.css" />
        <link
            type="text/css"
            rel="stylesheet"
            href="./assets/auth/fonts/flaticon/font/flaticon.css" />
        <link rel="stylesheet" href="./assets/style/loader.css" />
        <link
            rel="shortcut icon"
            href="./assets/auth/img/favicon.ico"
            type="image/x-icon" />
        <link
            type="text/css"
            rel="stylesheet"
            href="./assets/auth/css/style.css" />
    </head>
    <style>
        #box-alert{
            top: 10px;
            right: 10px;
            padding: 10px 20px;
            border-radius: 10px;
            position: absolute;
            color: beige;
            font-size: 30px;
            background-color: rgb(223, 18, 18);
            transition: all 1s;
        }
        .hidden-alert{
            display: none;
        }
    </style>
    <body id="top" dir="rtl" style="overflow-x: hidden">
        <div class="loeader active">
            <div class="wrapper">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <div class="shadow"></div>
                <span>صبرکنید</span>
            </div>
        </div>

        <!-- Login 4 start -->
        <div class="login-4">
            <div class="container-fluid">
                <div class="row login-box bg_cotainer">
                    <div class="col-lg-6 form-section">
                        <div class="form-inner">
                            <a href="login.html" class="logo">
                                <img
                                    src="../assets/images/log-hix-f.png"
                                    alt="logo"
                                    class="w-50 h-50" />
                            </a>
                            <h3>ورود به حساب کاربری</h3>
                            <div
                                id="alert-box"
                                class="alert alert-dismissible fade show"
                                role="alert"></div>
                            <form method="POST" id="login-form">
                                <div
                                    class="form-group position-relative clearfix">
                                    <input
                                    required
                                        id="email-address"
                                        name="email"
                                        type="text"
                                        class="form-control"
                                        placeholder="ایمیل"
                                        aria-label="email-address" />
                                </div>

                                <div
                                    class="form-group clearfix position-relative password-wrapper">
                                    <input
                                    required
                                        name="password"
                                        id="password"
                                        type="password"
                                        class="form-control"
                                        autocomplete="off"
                                        placeholder="رمز عبور"
                                        aria-label="Password" />
                                    <i class="fa fa-eye password-indicator"></i>
                                </div>
                                <div class="form-group mb-0 clearfix">
                                    <button
                                        type="submit"
                                        id="login-submit"
                                        class="btn btn-lg btn-primary btn-theme">
                                        ورود
                                    </button>
                                    <a
                                        href="forgot-password.html"
                                        class="forgot-password float-start"
                                        >فراموشی رمز عبور</a
                                    >
                                </div>

                                <div class="clearfix mt-4"></div>
                            </form>
                            <div class="clearfix"></div>
                            <p>
                                حساب کاربری ندارید؟
                                <a href="register.html" class="thembo"
                                    >از اینجا ثبت نام کنید</a
                                >
                            </p>
                        </div>
                    </div>
                    <div
                        class="col-lg-6 bg-img clip-home d-none d-md-block"></div>
                </div>
            </div>
        </div>
        <div id="box-alert" class="hidden-alert">
            <h2>
                توجه رمز اشتباه است!
            </h2>
        </div>

        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.4/js.cookie.min.js"></script> -->
        <script src="https://unpkg.com/axios@0.21.0/dist/axios.min.js"></script>
        <script src="./assets/auth/js/login.js"></script>
        <script src="./assets/js/hixConstants.js"></script>
        <script src="./assets/js/loader.js"></script>
    </body>
    <script>
// Function to set a cookie
function setCookie(cookieName, cookieValue, expirationDays) {
    var d = new Date();
    d.setTime(d.getTime() + (expirationDays * 24 * 60 * 60 * 1000));
    var expires = "expires=" + d.toUTCString();
    document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
}

// Example usage:
setCookie("username", "JohnDoe", 30); // This will create a cookie named "username" with the value "JohnDoe" that expires in 30 days.

function checkAuth() {

    function getCookie(cookieName) {
        var name = cookieName + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var cookieArray = decodedCookie.split(';');
        for (var i = 0; i < cookieArray.length; i++) {
            var cookie = cookieArray[i];
            while (cookie.charAt(0) == ' ') {
                cookie = cookie.substring(1);
            }
            if (cookie.indexOf(name) == 0) {
                return cookie.substring(name.length, cookie.length);
            }
        }
        return "";
    }

}
moonshine

// Call the checkAuth function
checkAuth();


    </script>
</html>
