.content_title{

    padding: 20px 0;
    margin-top: 40px;

    span{
        padding: 7px 12px;
        background-color: #1bbfd3;
        position: absolute;
        top: -10px;
        border-radius: 6px;
        color: #fff;
        font-size: 20px;
    }

    h5{
        margin-right: 49px;
    }
}