<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chat-bot</title>
</head>

<body>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      let hixScript = document.createElement("script");
      hixScript.setAttribute("src", "widget.js");
      document.body.appendChild(hixScript);
      hixScript.addEventListener('load', () => {
        HIX_INIT();
      })
    })
  </script>
</body>

</html>